---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import GmailIcon from '../components/icons/Gmail.astro';
import SocialLinks from '../components/SocialLinks.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';

---

<Layout 
	title="Porfolio de Iker González - Desarrollador/Programador Web" 
	description="Contrata a Iker González para crear y actualizar tu aplicación web o móvil."
	>
	<main class="px-4">
		<SectionContainer>
			<img 
			class="rounded-full size-24 mb-4" 
			src="/public/images/iker.webp" 
			alt="iker photo" />
			<h1 class="text-white text-xl md:text-3xl lg:text-5xl font-bold flex flex-col md:flex-row gap-x-4 pb-6 lg:pb-10 ">
				Hey, soy Iker González
				<div class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</div>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap mb-8 max-w-[700px]">
				<span>+1 año de experiencia</span>. 
				<span class="opacity-80">Desarrollador web</span> 
				y creador de contenido de Barcelona, España.
			</h2>

			<ul class="flex flex-row w-full">
				<li class="flex justify-between flex-wrap">
					<SocialLinks href="https://www.linkedin.com/in/iker-gonzález-lumbreras-92b39426b/">
						<LinkedInIcon class="size-4 md:size-6" />LinkedIn
					</SocialLinks>
					<SocialLinks href="https://github.com/igonzalez-et">
						<GitHubIcon class="size-4 md:size-6" />GitHub
					</SocialLinks>
					<SocialLinks href="mailto:igonzalezlum@gmail.com">
						<GmailIcon class="size-4 md:size-6" />igonzalezlum@gmail.com
					</SocialLinks>
				</li>
			</ul>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-3xl font-semibold mb-6">Experiencia</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold mb-6">Proyectos</h2>
			<Projects />
		</SectionContainer>
	</main>